<!-- <div *ngIf="(weatherCurrent$ | async) as weatherCurrent" class="weather"> -->
<div *ngIf="weatherCurrent" class="weather">
    <div class="weatherCity">
      <img src="/public/icons/white/location.svg">{{weatherCurrent?.name}}
    </div>
  <div class="weatherTemp">
    {{weatherCurrent.main.temp}}<img src="/public/icons/white/celsius.svg"><img src="/public/icons/white/{{weatherCurrent.weather[0].icon}}.svg">
  </div>
  <div class="weatherAera">
    {{weatherCurrent.weather[0].description}}
  </div>
</div>
<div class="weatherChart">
  <canvas id="line-chart_{{city}}"></canvas>
</div>

<!-- <div class="weatherAera2">
  <img src="/public/icons/white/humidity.svg">{{weatherCurrent.main.humidity}}%
</div> -->
<!-- <div class="weatherChart">
  <canvas id="line-chart_{{city}}"></canvas>
</div> -->

  <!-- <div>     
      <img src="/public/icons/white/{{weatherCurrent.weather[0].icon}}.svg">
      <img src="/public/icons/white/temperature.svg">
      <img src="/public/icons/white/minus.svg">{{weatherCurrent.main.temp_min}}<img src="/public/icons/white/celsius.svg">
      <img src="/public/icons/white/plus.svg">{{weatherCurrent.main.temp_max}}<img src="/public/icons/white/celsius.svg">
  </div>
  <div>
    <img src="/public/icons/white/precipitation.svg">{{weatherCurrent.main.pressure}}
    <img src="/public/icons/white/humidity.svg">{{weatherCurrent.main.humidity}}
    <img src="/public/icons/white/wind.svg">{{weatherCurrent.wind.speed}}km/h
  </div> -->