<script src="/public/js/setup.js"></script>
<div class="wrapper">
    <header>
        <!-- <h1> {{title}} </h1> -->
    </header>
    <article>
        <div *ngIf="weathers" >
             <ul id="double">
                <li *ngFor="let cityWeather of weathers">
                    <app-weather [city]="cityWeather.name"></app-weather>
                </li>
            </ul> 
        </div>
    </article>
    <nav>        
        <span>{{dayLabel}} {{dateLabel}}</span><br/>
        <span>{{hourLabel}}</span>
    </nav>
    <footer>
        {{user.username}} connecté(e)  <app-listen *ngIf="speech.speechSupported"></app-listen>
    </footer>
</div>