<script src="/public/js/setup.js"></script>
<div class="wrapper">
    <header>
        <div>
            <h1>
                {{title}}
            </h1>
        </div>
    </header>
    <article>
        <div>
            <ul id="double">
                <li *ngFor="let cityWeather of weathers">
                    <app-weather [city]="cityWeather.name"></app-weather>
                </li>
            </ul>
        </div>
    </article>
    <nav>
        <h2>{{hourLabel}}</h2>
        <p>{{dayLabel}} {{dateLabel}}</p>
    </nav>
    <footer>
        Miroir... mon beau miroir
    </footer>
</div>
<app-listen *ngIf="speech.speechSupported"></app-listen>
<button id="buttonAddProfil" hidden="true">
   Take Photo
</button>